
/**************************************************
*
*   Confluence editor in popup
*
**************************************************/
/* Disable no tools editor  */
.rw_layout_board_confluence_editor.no-tools-animate {
  pointer-events: auto !important;
}

.rw_layout_board_confluence_editor #aui-flag-container,
.rw_layout_board_confluence_editor #savebar-container,
.rw_layout_board_confluence_editor.no-tools #savebar-container,
.rw_layout_board_confluence_editor #content-title-div {
  display: none !important;
}

.rw_layout_board_confluence_editor.no-tools #rte iframe {
  position: static !important;
  box-sizing: !important;
  -moz-box-sizing: inherit !important;
  padding-bottom: 0px !important;
}

.rw_layout_board_confluence_editor #editor-notifications-container {
  display: none !important;
}
