/*
 * _theme-config.scss - [css/admin] - Theme Configuration page styles
 */

#rw_theme_configuration_editor {
  background: #f6f6f6;

  // Mini Colors Plugin Overrides
  .rw_input_container .rw_input_content span.rw_hash_contatiner {
    padding-top: 0;
  }

  .minicolors-theme-default {

    #rw_form_keyNavColor {
      margin-left: 2.35 * $color-picker-text-height + $color-picker-margin + rem;
      margin-top: -6px;
    }

    .minicolors-panel {
      top: 28px;
    }

    .minicolors-swatch {
      left: 0;
      top: 0;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAACtJREFUGBlj/A8EDGjg7NmzaCIMDEwYIjgEBlAhCzaHGxsbY7h0AN1ItNUAZLYJeUrW4I8AAAAASUVORK5CYII=');
      background-repeat: repeat;
      border: none;
      width: 2.35 * $color-picker-text-height + rem;
      height: $color-picker-text-height + rem;
      border-radius: $medium-border-radius + rem;

      .minicolors-swatch-color {
        color: #fff;
        background: grey;
        padding-right: .15 * $color-picker-text-height + rem;
        line-height: $color-picker-text-height + rem;
        text-align: right;
        cursor: pointer;
        border-radius: $medium-border-radius + rem;

        &:after {
          content: "\25be";
        }
      }
    }
  }

  .rw_input_container:hover {
    background: #eee;
  }
}

.rw_input_help_img {
  a {
    img {
      border: 1px solid #999;
    }
  }
}

.rw_theme_name_holder {
  float: left;
  color: #666;
  font-style: italic;
}

#key-error {
  margin-top: 10px;
  padding: 5px;
}

.rw_editor_toolbar {
  span.button-spinner {
    display: inline-block;
    margin-bottom: 5px;
  }
}

#rw_import_theme_config {
  div > a,
  div > input {
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
}